$o-sticky-is-silent: true !default;

/**
  * @param {Number} $offset - Sticky start point. Same as JS constructor's config.start.
  * @param {Boolean} $bounded - Whether sticky takes effect only in the parent container. For elements like navigation, use `false`.
  */
@mixin oStickyBase ($offset: 0, $bounded: true) {
	&[aria-sticky="top"] {
		position: absolute;
	}

	&[aria-sticky="fixed"] {
		position: fixed;
        top: $offset + 0px;
        bottom: auto;
	}

	&[aria-sticky="bottom"] {
		@if $bounded == true {
			position: absolute;
		    top: auto;
		    bottom: 0;			
		}
		@if $bounded == false {
			position: fixed;
	  		top: $offset + 0px;
	  		bottom: auto;
		}
	}
}